## Exercícios

Link para Dataset: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

In [1]:
import pandas as pd

## Neste projeto, trabalharemos com dois arquivos csvs separados, contendo informações sobre o preço da gasolina no Brasil. 

### 1. Carregue os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [2]:
df1 = pd.read_csv("gasolina_2000.csv", index_col=0)
df2 = pd.read_csv("gasolina_2010.csv", index_col=0)

df = pd.concat([df1, df2])

C:\Users\ana's\AppData\Local\Temp\ipykernel_5000\3774891738.py:2: DtypeWarning: Columns (12,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv("gasolina_2010.csv", index_col=0)

### 2.Investigue as colunas e entenda o conjunto de dados usando o head() e info()

In [3]:
df.head(5)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 17.5+ MB

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

In [5]:
type(df["DATA INICIAL"].iloc[2])

str

### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

In [6]:
df["DATA INICIAL"] = pd.to_datetime(df["DATA INICIAL"])
df["DATA FINAL"] = pd.to_datetime(df["DATA FINAL"])

In [7]:
type(df["DATA INICIAL"].iloc[2])

pandas._libs.tslibs.timestamps.Timestamp

### 5. Crie uma nova coluna para representar o mês e o ano (mm-aaaa), utilizando a coluna DATA FINAL como referência.

In [8]:
df["ANO-MES"] = df["DATA FINAL"].apply(lambda x: "{}".format(x.year)) + df["DATA FINAL"].apply(lambda x: "-{:02d}".format(x.month))

### 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.

In [9]:
df["PRODUTO"].value_counts()

GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: PRODUTO, dtype: int64

### 7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.

In [10]:
#filtro produto
df_filter = df['PRODUTO'] == 'GASOLINA COMUM'

In [11]:
df3 = df[df_filter]

In [12]:
#numero de colunas
df3.shape

(23570, 19)

In [13]:
df3

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MES
12064,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.990,2.070,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004-05
12065,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.850,2.220,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004-05
12066,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.000,2.540,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,2004-05
12067,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.970,2.440,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,2004-05
12068,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.000,2.159,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,2004-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120721,2021-04-25,2021-05-01,NORTE,RORAIMA,GASOLINA COMUM,12,R$/l,5.364,0.065,5.310,5.530,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120722,2021-04-25,2021-05-01,SUL,SANTA CATARINA,GASOLINA COMUM,119,R$/l,5.051,0.251,4.640,5.599,-99999.0,0.050,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120724,2021-04-25,2021-05-01,NORDESTE,SERGIPE,GASOLINA COMUM,34,R$/l,5.586,0.088,5.410,5.699,-99999.0,0.016,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120725,2021-04-25,2021-05-01,NORTE,TOCANTINS,GASOLINA COMUM,20,R$/l,5.751,0.160,5.578,6.119,-99999.0,0.028,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05

In [14]:
df3 = df[df["PRODUTO"] == 'GASOLINA COMUM']

In [15]:
df3.head(5)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MES
12064,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.99,2.070,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004-05
12065,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.85,2.220,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004-05
12066,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.00,2.540,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,2004-05
12067,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.97,2.440,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,2004-05
12068,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.00,2.159,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,2004-05

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

In [16]:
df3[df3["ANO-MES"] == '2008-08']

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MES
17949,2008-07-27,2008-08-02,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,86,R$/l,2.573,0.021,2.520,2.599,0.372,0.008,2.201,0.068,2.0938,2.371,0.031,2008-08
17950,2008-07-27,2008-08-02,CENTRO OESTE,GOIAS,GASOLINA COMUM,255,R$/l,2.429,0.151,2.210,2.799,0.223,0.062,2.206,0.045,2.117,2.3442,0.02,2008-08
17951,2008-07-27,2008-08-02,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,143,R$/l,2.626,0.214,2.360,3.070,0.32,0.081,2.306,0.076,2.1977,2.5,0.033,2008-08
17952,2008-07-27,2008-08-02,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,139,R$/l,2.718,0.074,2.548,2.899,0.446,0.027,2.272,0.055,2.1681,2.47,0.024,2008-08
17953,2008-07-27,2008-08-02,NORDESTE,ALAGOAS,GASOLINA COMUM,104,R$/l,2.768,0.056,2.590,2.930,0.475,0.020,2.293,0.046,2.1694,2.372,0.02,2008-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18079,2008-08-24,2008-08-30,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,737,R$/l,2.546,0.120,2.290,2.899,0.28,0.047,2.266,0.059,2.1533,2.4808,0.026,2008-08
18080,2008-08-24,2008-08-30,SUDESTE,SAO PAULO,GASOLINA COMUM,2380,R$/l,2.402,0.093,2.099,2.700,0.312,0.039,2.09,0.043,1.95,2.24,0.021,2008-08
18081,2008-08-24,2008-08-30,SUL,PARANA,GASOLINA COMUM,570,R$/l,2.438,0.083,2.140,2.850,0.312,0.034,2.126,0.049,1.947,2.2448,0.023,2008-08
18082,2008-08-24,2008-08-30,SUL,RIO GRANDE DO SUL,GASOLINA COMUM,620,R$/l,2.595,0.087,2.390,2.860,0.384,0.034,2.211,0.049,2.068,2.3909,0.022,2008-08
18083,2008-08-24,2008-08-30,SUL,SANTA CATARINA,GASOLINA COMUM,389,R$/l,2.553,0.071,2.299,2.811,0.391,0.028,2.162,0.045,2.0537,2.3428,0.021,2008-08

In [17]:
#preço médio no mes
df3[df3["ANO-MES"] == '2008-08']["PREÇO MÉDIO REVENDA"].mean()

2.6012444444444442

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

In [18]:
df3[(df3["ANO-MES"] == '2008-08') & (df3["ESTADO"] == 'SAO PAULO')]["PREÇO MÉDIO REVENDA"].mean()

2.4046

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [19]:
df3[df3["PREÇO MÉDIO REVENDA"] > 5]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MES
98201,2018-05-20,2018-05-26,NORTE,ACRE,GASOLINA COMUM,39,R$/l,5.053,0.184,4.930,5.459,0.797,0.036,4.256,0.132,4.07,4.4685,0.031,2018-05
98347,2018-05-27,2018-06-02,NORTE,ACRE,GASOLINA COMUM,11,R$/l,5.035,0.133,4.890,5.400,0.799,0.026,4.236,0.152,4.07,4.4542,0.036,2018-06
98493,2018-06-03,2018-06-09,NORTE,ACRE,GASOLINA COMUM,39,R$/l,5.038,0.197,4.840,5.459,0.664,0.039,4.374,0.084,4.2316,4.576,0.019,2018-06
98511,2018-06-03,2018-06-09,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,414,R$/l,5.016,0.144,4.459,5.599,0.541,0.029,4.475,0.108,4.1667,4.8321,0.024,2018-06
98646,2018-06-10,2018-06-16,NORTE,ACRE,GASOLINA COMUM,38,R$/l,5.031,0.206,4.840,5.459,0.686,0.041,4.345,0.081,4.2149,4.518,0.019,2018-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120721,2021-04-25,2021-05-01,NORTE,RORAIMA,GASOLINA COMUM,12,R$/l,5.364,0.065,5.310,5.530,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120722,2021-04-25,2021-05-01,SUL,SANTA CATARINA,GASOLINA COMUM,119,R$/l,5.051,0.251,4.640,5.599,-99999.0,0.050,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120724,2021-04-25,2021-05-01,NORDESTE,SERGIPE,GASOLINA COMUM,34,R$/l,5.586,0.088,5.410,5.699,-99999.0,0.016,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120725,2021-04-25,2021-05-01,NORTE,TOCANTINS,GASOLINA COMUM,20,R$/l,5.751,0.160,5.578,6.119,-99999.0,0.028,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05

In [20]:
#filtro com constando estado e ano-mes onde a gososa ultrapassou 5 reais o head(10) traz os 10 primeiros dados
df3[df3["PREÇO MÉDIO REVENDA"] > 5][["ESTADO", "ANO-MES", "PREÇO MÉDIO REVENDA"]].head(10)

               ESTADO  ANO-MES  PREÇO MÉDIO REVENDA
98201            ACRE  2018-05                5.053
98347            ACRE  2018-06                5.035
98493            ACRE  2018-06                5.038
98511  RIO DE JANEIRO  2018-06                5.016
98646            ACRE  2018-06                5.031
98797            ACRE  2018-06                5.036
98948            ACRE  2018-06                5.039
99098            ACRE  2018-07                5.021
99247            ACRE  2018-07                5.042
99398            ACRE  2018-07                5.038

### 11. Qual a média de preço dos estados da região sul em 2012?

In [21]:
df3

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MES
12064,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.990,2.070,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004-05
12065,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.850,2.220,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004-05
12066,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.000,2.540,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,2004-05
12067,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.970,2.440,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,2004-05
12068,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.000,2.159,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,2004-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120721,2021-04-25,2021-05-01,NORTE,RORAIMA,GASOLINA COMUM,12,R$/l,5.364,0.065,5.310,5.530,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120722,2021-04-25,2021-05-01,SUL,SANTA CATARINA,GASOLINA COMUM,119,R$/l,5.051,0.251,4.640,5.599,-99999.0,0.050,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120724,2021-04-25,2021-05-01,NORDESTE,SERGIPE,GASOLINA COMUM,34,R$/l,5.586,0.088,5.410,5.699,-99999.0,0.016,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120725,2021-04-25,2021-05-01,NORTE,TOCANTINS,GASOLINA COMUM,20,R$/l,5.751,0.160,5.578,6.119,-99999.0,0.028,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05

In [22]:
#.apply(lambda x: x.year) == 2012)] convertendo pra ano 2012
df_aux = df3[(df3["DATA FINAL"].apply(lambda x: x.year) == 2012)]

In [23]:
df_aux

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MES
22728,2012-01-01,2012-01-07,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,80,R$/l,2.834,0.005,2.830,2.850,0.285,0.002,2.549,0.008,2.536,2.559,0.003,2012-01
22729,2012-01-01,2012-01-07,CENTRO OESTE,GOIAS,GASOLINA COMUM,256,R$/l,2.853,0.089,2.550,3.080,0.347,0.031,2.506,0.081,2.391,2.726,0.032,2012-01
22730,2012-01-01,2012-01-07,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,137,R$/l,2.996,0.078,2.790,3.250,0.464,0.026,2.532,0.069,2.329,2.68,0.027,2012-01
22731,2012-01-01,2012-01-07,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,131,R$/l,2.728,0.147,2.530,3.048,0.33,0.054,2.398,0.056,2.295,2.55,0.023,2012-01
22732,2012-01-01,2012-01-07,NORDESTE,ALAGOAS,GASOLINA COMUM,97,R$/l,2.778,0.065,2.690,2.960,0.439,0.023,2.339,0.033,2.262,2.4367,0.014,2012-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24127,2012-12-23,2012-12-29,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,736,R$/l,2.877,0.115,2.549,3.799,0.357,0.040,2.52,0.058,2.335,2.7009,0.023,2012-12
24128,2012-12-23,2012-12-29,SUDESTE,SAO PAULO,GASOLINA COMUM,2376,R$/l,2.639,0.108,2.269,2.999,0.376,0.041,2.263,0.063,2.11,2.5222,0.028,2012-12
24129,2012-12-23,2012-12-29,SUL,PARANA,GASOLINA COMUM,564,R$/l,2.805,0.076,2.530,3.150,0.413,0.027,2.392,0.049,2.2336,2.595,0.02,2012-12
24130,2012-12-23,2012-12-29,SUL,RIO GRANDE DO SUL,GASOLINA COMUM,616,R$/l,2.775,0.099,2.530,3.099,0.415,0.036,2.36,0.048,2.244,2.5354,0.02,2012-12
24131,2012-12-23,2012-12-29,SUL,SANTA CATARINA,GASOLINA COMUM,386,R$/l,2.747,0.094,2.350,2.999,0.394,0.034,2.353,0.038,2.24,2.45,0.016,2012-12

In [24]:
#mostra o preço médio de revenda na região sul
df_aux[df_aux["REGIÃO"] == "SUL"]["PREÇO MÉDIO REVENDA"].mean()

2.7214423076923073

# Mostrando a média de preços dos estados da região nordeste em 2019, 2020 e 2021

In [25]:
#preço médio da gasolina por ano (mudando as datas)
df_aux = df3[(df3["DATA FINAL"].apply(lambda x: x.year) == 2019)]
df_aux[df_aux["REGIÃO"] == "NORDESTE"]["PREÇO MÉDIO REVENDA"].mean()

4.4384529914529915

In [26]:
#preço médio da gasolina por ano (mudando as datas)
df_aux = df3[(df3["DATA FINAL"].apply(lambda x: x.year) == 2020)]
df_aux[df_aux["REGIÃO"] == "NORDESTE"]["PREÇO MÉDIO REVENDA"].mean()

4.323689393939394

In [27]:
#preço médio da gasolina por ano (mudando as datas)
df_aux = df3[(df3["DATA FINAL"].apply(lambda x: x.year) == 2021)]
df_aux[df_aux["REGIÃO"] == "NORDESTE"]["PREÇO MÉDIO REVENDA"].mean()

5.155864197530864

### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

In [28]:
#cria uma variável chamada df3["MES"] recebendo DATA FINAL
df3["MES"] = df3["DATA FINAL"].apply(lambda x: x.month)
#cria uma variável chamada df_rio recebendo estado 
df_rio = df3[df3["ESTADO"] == "RIO DE JANEIRO"]

C:\Users\ana's\AppData\Local\Temp\ipykernel_5000\4110426527.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["MES"] = df3["DATA FINAL"].apply(lambda x: x.month)

In [29]:
df_rio

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MES,MES
12086,2004-05-09,2004-05-15,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1071,R$/l,2.045,0.109,1.700,2.599,0.254,0.053,1.791,0.047,1.6363,1.9594,0.026,2004-05,5
12113,2004-05-16,2004-05-22,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1055,R$/l,2.040,0.113,1.700,2.599,0.252,0.055,1.788,0.049,1.5943,1.99651,0.027,2004-05,5
12140,2004-05-23,2004-05-29,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1091,R$/l,2.042,0.108,1.700,2.599,0.252,0.053,1.79,0.046,1.63596,2.2137,0.026,2004-05,5
12167,2004-05-30,2004-06-05,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1055,R$/l,2.053,0.111,1.730,2.599,0.251,0.054,1.802,0.055,1.64,2.21425,0.031,2004-06,6
12194,2004-06-06,2004-06-12,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1091,R$/l,2.063,0.107,1.760,2.599,0.247,0.052,1.816,0.054,1.64,2.32425,0.03,2004-06,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120003,2021-03-28,2021-04-03,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,276,R$/l,6.102,0.197,5.599,6.559,-99999.0,0.032,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-04,4
120181,2021-04-04,2021-04-10,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,275,R$/l,6.007,0.193,5.299,6.499,-99999.0,0.032,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-04,4
120360,2021-04-11,2021-04-17,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,261,R$/l,6.016,0.209,5.399,6.516,-99999.0,0.035,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-04,4
120538,2021-04-18,2021-04-24,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,240,R$/l,6.071,0.217,5.399,6.599,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-04,4
120717,2021-04-25,2021-05-01,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,198,R$/l,6.099,0.208,5.480,6.599,-99999.0,0.034,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05,5

In [30]:
#cria um groupby jogando as colununas e dar um last pra pegar a ultima informação já que tem varias leituras no mesmo mes
df_month_rio = df_rio.groupby("ANO-MES")[["PREÇO MÉDIO REVENDA", "MES"]].last()

In [31]:
df_month_rio[df_month_rio["MES"] == 12]

         PREÇO MÉDIO REVENDA  MES
ANO-MES
2004-12                2.296   12
2005-12                2.508   12
2006-12                2.531   12
2007-12                2.540   12
2008-12                2.565   12
2009-12                2.607   12
2010-12                2.660   12
2011-12                2.849   12
2012-12                2.877   12
2013-12                3.072   12
2014-12                3.206   12
2015-12                3.862   12
2016-12                4.002   12
2017-12                4.548   12
2018-12                4.812   12
2019-12                4.995   12
2020-12                4.929   12

In [32]:
#Shift desloca o dado mantendo o índice deslocou para baixo mas manteve o índice ANO-MES
df_month_rio[df_month_rio["MES"] == 12].shift(1)

         PREÇO MÉDIO REVENDA   MES
ANO-MES
2004-12                  NaN   NaN
2005-12                2.296  12.0
2006-12                2.508  12.0
2007-12                2.531  12.0
2008-12                2.540  12.0
2009-12                2.565  12.0
2010-12                2.607  12.0
2011-12                2.660  12.0
2012-12                2.849  12.0
2013-12                2.877  12.0
2014-12                3.072  12.0
2015-12                3.206  12.0
2016-12                3.862  12.0
2017-12                4.002  12.0
2018-12                4.548  12.0
2019-12                4.812  12.0
2020-12                4.995  12.0

In [33]:
#faz filtro apenas nos meses 12. Divido os dados dos meses 12 por ele mesmo, deslogo os dados -1 e multiplico por 100
(df_month_rio[df_month_rio["MES"] == 12] / df_month_rio[df_month_rio["MES"] == 12].shift(1) - 1) * 100

         PREÇO MÉDIO REVENDA  MES
ANO-MES
2004-12                  NaN  NaN
2005-12             9.233449  0.0
2006-12             0.917065  0.0
2007-12             0.355591  0.0
2008-12             0.984252  0.0
2009-12             1.637427  0.0
2010-12             2.032988  0.0
2011-12             7.105263  0.0
2012-12             0.982801  0.0
2013-12             6.777894  0.0
2014-12             4.361979  0.0
2015-12            20.461634  0.0
2016-12             3.625065  0.0
2017-12            13.643178  0.0
2018-12             5.804749  0.0
2019-12             3.802993  0.0
2020-12            -1.321321  0.0

In [34]:
#SOMATORIO DAS EVOLUÇÕES PERCENTUAIS Divido os dados dos meses 12 por ele mesmo, deslogo os dados -1 e multiplico por 100
#e soma deslocando apartir do segundo dado rolling(2)
((df_month_rio[df_month_rio["MES"] == 12] / df_month_rio[df_month_rio["MES"] == 12].shift(1) - 1) * 100).rolling(2).sum()

         PREÇO MÉDIO REVENDA  MES
ANO-MES
2004-12                  NaN  NaN
2005-12                  NaN  NaN
2006-12            10.150515  0.0
2007-12             1.272656  0.0
2008-12             1.339843  0.0
2009-12             2.621679  0.0
2010-12             3.670415  0.0
2011-12             9.138251  0.0
2012-12             8.088064  0.0
2013-12             7.760695  0.0
2014-12            11.139873  0.0
2015-12            24.823614  0.0
2016-12            24.086699  0.0
2017-12            17.268243  0.0
2018-12            19.447928  0.0
2019-12             9.607742  0.0
2020-12             2.481671  0.0

### DESAFIO: Crie uma tabela contendo uma serie temporal com a diferença absoluta e percentual entre os valores mais baratos e caros. Apresente também ao lado os estados na qual os maiores e menores preços foram registrados.

In [35]:
df3

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MES,MES
12064,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.990,2.070,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004-05,5
12065,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.850,2.220,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004-05,5
12066,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.000,2.540,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,2004-05,5
12067,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.970,2.440,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,2004-05,5
12068,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.000,2.159,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,2004-05,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120721,2021-04-25,2021-05-01,NORTE,RORAIMA,GASOLINA COMUM,12,R$/l,5.364,0.065,5.310,5.530,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05,5
120722,2021-04-25,2021-05-01,SUL,SANTA CATARINA,GASOLINA COMUM,119,R$/l,5.051,0.251,4.640,5.599,-99999.0,0.050,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05,5
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05,5
120724,2021-04-25,2021-05-01,NORDESTE,SERGIPE,GASOLINA COMUM,34,R$/l,5.586,0.088,5.410,5.699,-99999.0,0.016,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05,5
120725,2021-04-25,2021-05-01,NORTE,TOCANTINS,GASOLINA COMUM,20,R$/l,5.751,0.160,5.578,6.119,-99999.0,0.028,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05,5

In [41]:
#agrupa e mostra ao maiores e menores valore de revenda por período
df_max = df3.groupby("ANO-MES").max()["PREÇO MÉDIO REVENDA"]
df_min = df3.groupby("ANO-MES").min()["PREÇO MÉDIO REVENDA"]

In [42]:
df_max

ANO-MES
2004-05    2.438
2004-06    2.496
2004-07    2.545
2004-08    2.560
2004-09    2.570
           ...
2021-01    5.213
2021-02    5.809
2021-03    6.688
2021-04    6.227
2021-05    6.258
Name: PREÇO MÉDIO REVENDA, Length: 204, dtype: float64

In [43]:
df_min

ANO-MES
2004-05    1.888
2004-06    1.912
2004-07    1.936
2004-08    2.030
2004-09    2.031
           ...
2021-01    3.830
2021-02    4.121
2021-03    4.579
2021-04    4.777
2021-05    4.867
Name: PREÇO MÉDIO REVENDA, Length: 204, dtype: float64

In [44]:
#cria um dataframe vazio
df_diff = pd.DataFrame()

In [45]:
df_diff

Empty DataFrame
Columns: []
Index: []

In [46]:
#preenchendo dataframe com a diferença entre maior e menor preço
df_diff['abs_diff'] = df_max - df_min

In [47]:
df_diff

         abs_diff
ANO-MES
2004-05     0.550
2004-06     0.584
2004-07     0.609
2004-08     0.530
2004-09     0.539
...           ...
2021-01     1.383
2021-02     1.688
2021-03     2.109
2021-04     1.450
2021-05     1.391

[204 rows x 1 columns]

In [48]:
#mostrando a diferença percentual
df_diff['percent_diff'] = (df_max - df_min) / df_min * 100

In [49]:
df_diff

         abs_diff  percent_diff
ANO-MES
2004-05     0.550     29.131356
2004-06     0.584     30.543933
2004-07     0.609     31.456612
2004-08     0.530     26.108374
2004-09     0.539     26.538651
...           ...           ...
2021-01     1.383     36.109661
2021-02     1.688     40.960932
2021-03     2.109     46.058091
2021-04     1.450     30.353779
2021-05     1.391     28.580234

[204 rows x 2 columns]

In [94]:
#preço médio máximo de revenda
#df_max = df3.groupby("ANO-MES").max()["PREÇO MÉDIO REVENDA"].sort_index()
idx_max = df3.groupby('ANO-MES')["PREÇO MÉDIO REVENDA"].idxmax()
#preço médio máximo de revenda
#df_min = df3.groupby("ANO-MES").min()["PREÇO MÉDIO REVENDA"].sort_index()
idx_min = df3.groupby('ANO-MES')["PREÇO MÉDIO REVENDA"].idxmin()

In [95]:
idx_max

ANO-MES
2004-05     12104
2004-06     12228
2004-07     12374
2004-08     12471
2004-09     12590
            ...
2021-01    118208
2021-02    119092
2021-03    119629
2021-04    120163
2021-05    120699
Name: PREÇO MÉDIO REVENDA, Length: 204, dtype: int64

In [96]:
idx_min

ANO-MES
2004-05     12114
2004-06     12168
2004-07     12334
2004-08     12411
2004-09     12600
            ...
2021-01    117685
2021-02    118739
2021-03    119271
2021-04    120344
2021-05    120701
Name: PREÇO MÉDIO REVENDA, Length: 204, dtype: int64

In [97]:
#criando dataframe
df_diff = pd.DataFrame()

In [98]:
#preenchendo a tabela
df_diff["abs_diff"] = df_max - df_min
df_diff["perct_diff"] = (df_max - df_min) / df_min * 100
df_diff["max"] = df_max
df_diff["min"] = df_min

In [99]:
df_diff

         abs_diff  perct_diff    max    min
ANO-MES
2004-05     0.550   29.131356  2.438  1.888
2004-06     0.584   30.543933  2.496  1.912
2004-07     0.609   31.456612  2.545  1.936
2004-08     0.530   26.108374  2.560  2.030
2004-09     0.539   26.538651  2.570  2.031
...           ...         ...    ...    ...
2021-01     1.383   36.109661  5.213  3.830
2021-02     1.688   40.960932  5.809  4.121
2021-03     2.109   46.058091  6.688  4.579
2021-04     1.450   30.353779  6.227  4.777
2021-05     1.391   28.580234  6.258  4.867

[204 rows x 4 columns]

In [100]:
#loc localiza o idx_max por estado, preço medio e ano-mes
df3.loc[idx_max, :][["ESTADO", "PREÇO MÉDIO REVENDA", "ANO-MES"]]

             ESTADO  PREÇO MÉDIO REVENDA  ANO-MES
12104          ACRE                2.438  2004-05
12228   MATO GROSSO                2.496  2004-06
12374          ACRE                2.545  2004-07
12471   MATO GROSSO                2.560  2004-08
12590          ACRE                2.570  2004-09
...             ...                  ...      ...
118208         ACRE                5.213  2021-01
119092         ACRE                5.809  2021-02
119629         ACRE                6.688  2021-03
120163         ACRE                6.227  2021-04
120699         ACRE                6.258  2021-05

[204 rows x 3 columns]

In [101]:
#encaixa estado max e min usando .values já que tem o tamanho ou os índices iguais
df_diff["ESTADO_MAX"] = df3.loc[idx_max, :]["ESTADO"].values
df_diff["ESTADO_MIN"] = df3.loc[idx_min, :]["ESTADO"].values

In [102]:
df_diff

         abs_diff  perct_diff    max    min   ESTADO_MAX        ESTADO_MIN
ANO-MES
2004-05     0.550   29.131356  2.438  1.888         ACRE         SAO PAULO
2004-06     0.584   30.543933  2.496  1.912  MATO GROSSO         SAO PAULO
2004-07     0.609   31.456612  2.545  1.936         ACRE  DISTRITO FEDERAL
2004-08     0.530   26.108374  2.560  2.030  MATO GROSSO         SAO PAULO
2004-09     0.539   26.538651  2.570  2.031         ACRE         SAO PAULO
...           ...         ...    ...    ...          ...               ...
2021-01     1.383   36.109661  5.213  3.830         ACRE             AMAPA
2021-02     1.688   40.960932  5.809  4.121         ACRE             AMAPA
2021-03     2.109   46.058091  6.688  4.579         ACRE             AMAPA
2021-04     1.450   30.353779  6.227  4.777         ACRE             AMAPA
2021-05     1.391   28.580234  6.258  4.867         ACRE             AMAPA

[204 rows x 6 columns]

In [103]:
#mostra quais estados teve valores máximos
df_diff["ESTADO_MAX"].value_counts()

ACRE              166
MATO GROSSO        25
RIO DE JANEIRO     11
RORAIMA             2
Name: ESTADO_MAX, dtype: int64

In [104]:
#mostra quais estados teve valores máximos
df_diff["ESTADO_MIN"].value_counts()

SAO PAULO              40
AMAPA                  38
PIAUI                  28
PARAIBA                28
PARANA                 14
AMAZONAS               14
DISTRITO FEDERAL       12
MARANHAO                9
SANTA CATARINA          6
PERNAMBUCO              4
MATO GROSSO DO SUL      3
RIO GRANDE DO NORTE     2
GOIAS                   2
CEARA                   2
BAHIA                   2
Name: ESTADO_MIN, dtype: int64